* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-shadow: 2px 1px 10px grey;
  padding: 12px;
  font-size:18px;
}

.menu_bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}
.menu_bar ul li > a {
  text-decoration: none;
  color: black;
}
.menu_bar ul li > a:hover {
  text-decoration: none;
  color: #0460d9;
  transition: 0.5ms;
}

.menu_bar > ul {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 100px;
}

nav li {
  list-style: none;
  padding: 10px;
}

.menu_bar .active{
  color: #0460d9;
  font-size: 20px;
}

.hero{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 50px; */
}

.hero-text{
  width: 700px;
  height: 350px;
  font-size: 16px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 50px; */
  /* background-color: red; */
}

.text p {
  width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
}
.text button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  padding: 10px;
  border: none;
  background-color: #1E6FD9;
  color: white;
  font-size: 18px;
}

.hero-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 500px;
  font-size: 16px;
  padding: 30px;
  position: relative;
  /* background-color: blue; */
}

.hero-text h2{
  font-size: 72px;
  font-weight: bolder;
}
.hero-img img{
  width: 700px;
  height: 450px;
  z-index: 999;
}

.btn-hero a{
  text-decoration: none;

}
.blob{
  position: absolute;
  top: 150px;
}

.contact-homepage{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 300px;
  gap: 5px;
}

.contact-homepage a{
  text-decoration: none;
  color: black;
}

.github, .ig{
  width: 150px;
  height: 50px;
  padding: 10px;
  display: flex;
  /* background-color: red; */
  align-items: center;
  gap: 5px;
}

.icon-github, .icon-ig{
  display: flex;
  align-items:center;
  justify-content: center;
}

/* CSS ABOUT PAGE */
.hero-about{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 650px;
  /* background-color: blue; */
}
.hero-text_about{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 50px;
}

.text-about{
  width: 650px;
  padding: 50px;
  margin-bottom: 150px;
}

.header_about{
  font-size: 24px;
}

.header_name{
  font-size: 36px;
}
.hero-img_about{
  position: relative;
}

.hero-img_about .img1{
  width: 500px ;
  height: 500px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.skill{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  margin-top: 5px;
}

.p1{
  margin-top: 10px;
}
.p2{
  margin-top: 20px;
  margin-bottom: 20px;
}